@import './main.css';
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main .game-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.main .game-container .game-menu-wrapper {
    display: flex;
    gap: 8px;
    list-style: none;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.main .game-container .game-menu-wrapper::-webkit-scrollbar {
    display: none;
}

.main .game-container .game-menu-wrapper .game-menu {
    background: var(--white-color);
    color: var(--black-color);
    padding: 2px 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.main .game-container .game-menu-wrapper .game-menu.active {
    background-color: var(--primary-color);
}

.main .game-container .game-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

.main .game-container .game-wrapper .game {
    width: 100%;
    position: relative;
}

.main .game-container .game-wrapper .game .game-content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.main .game-container .game-wrapper .game .game-content .game-image img{
    width: 100%;
    border-radius: 8px;
    transition: filter 0.3s ease;
}

.main .game-container .game-wrapper .game:hover .game-image img{
    filter: brightness(0.6);
}

.main .game-container .game-wrapper .game .game-content .play-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.main .game-container .game-wrapper .game:hover .game-content .play-modal {
    opacity: 1; 
}

.main .game-container .game-wrapper .game .game-content .play-modal .btn-play {
    text-decoration: none;
    background-color: #1956db; 
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    padding: 8px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(50px); 
    transition: transform 0.5s ease;
}
.main .game-container .game-wrapper .game:hover .game-content .play-modal .btn-play {
    transform: translateY(0); 
    transition: transform 0.5s ease;
}

@media screen and (max-width: 1279px) {
    .main .game-container .game-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .main .game-container .game-wrapper .game .game-content .play-modal .btn-play {
        padding: 5px 32px;
    }
}

@media screen and (max-width: 767px){
    .main .game-container {
        width: 100%;
        padding: 0 20px;
    }

    .main .game-container .game-menu-wrapper .game-menu {
        padding: 2px 8px;
        font-size: 14px;
    }
    .main .game-container .game-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .main .game-container .game-wrapper .game .game-content .play-modal .btn-play {
        padding: 4px 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 424px) {
    .main .game-container .game-wrapper .game .game-content .play-modal .btn-play {
        padding: 2px 16px;
    }
}