@import './main.css';

.main {
    width: 100%;
    margin: 0 auto;
}

.main .hero .announcement-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--green-color);
}

.main .hero .announcement-wrapper .announcement-icon {
    background-color: #003f3c;
    padding: 5px;
    border-radius: 5px;
}

.main .hero .announcement-wrapper .announcement-icon img {
    height: 24px;
    padding: 2px;
}

.main .hero .announcement-wrapper .marquee-wrapper {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.main .hero .announcement-wrapper .marquee-wrapper .message {
    font-size: 16px;
    font-weight: 500;
    animation: scroll 50s linear infinite;
    animation-play-state: running;
}

.main .hero .announcement-wrapper .marquee-wrapper .message:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}


.main .hero .banner-container {
    width: 100%;
    height: 100%;
}

.main .hero .banner-container .desktop-banner {
    display: block;
}

.main .hero .banner-container .mobile-banner {
    display: none;
}

.main .hero .banner-container .swiper .swiper-wrapper .slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .hero .banner-container .swiper .swiper-wrapper .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .contents {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.main .contents .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.main .contents .button-container .button {
    text-decoration: none;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: var(--black-color);
    transition: all ease 0.5s;
    display: flex;
    flex: 50%;flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}

.main .contents .button-container .btn-deposit {
    background: var(--secondary-color);
}

.main .contents .button-container .btn-withdraw {
    background: var(--primary-color);
}

.main .contents .button-container .button:hover {
    background-color: var(--darkgreen-color);
    color: var(--white-color);
}

.main .contents .box-container {
    width: 100%;
    background-color: rgba(0, 34, 35, .3);
    padding: 1.5rem;
    border-radius: 24px;
}

.main .contents .box-container .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main .contents .box-container .title-wrapper .btn-viewAll {
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--primary-color);
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.main .contents .box-container .title-wrapper .btn-viewAll:hover {
    background-color: var(--darkgreen-color);
    color: var(--white-color);
    transition: all 0.5s ease;
}

.main .contents .box-container .title-wrapper .box-title {
    position: relative;
    padding-left: 30px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.main .contents .box-container .title-wrapper .box-title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #b2f91d; 
    border-radius: 50%;
}

.main .contents .box-container .game-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    gap: 1rem;
}

.main .contents .box-container .game-container .game-card {
    height: auto;
    transition: all ease .5s;
}

.main .contents .box-container .game-container .game-card img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.main .contents .box-carousel .game-container .game-card:hover {
    transform: scale(.95);
    transition: all ease .5s;
}

.main .contents .box-container .match-container {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
}

.main .contents .box-container .match-container .match-wrapper .match-card .match{
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../assets/images/bg-match.jpg") no-repeat fixed center;
    background-size: cover;
    border-radius: 1rem;
    padding: 0 15px;
}

.main .contents .box-container .match-container .match-wrapper .match-card .match .team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .contents .box-container .match-container .match-wrapper .match-card .team .team-name {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.main .contents .box-container .match-container .match-wrapper .match-card .match .team-logo {
    height: 60px;
}

.main .contents .box-container .match-container .match-wrapper .match-card .match-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main .contents .box-container .promotion-container{
    width: 100%;
    height: 100%;
}

.main .contents .box-container .promotion-container .promotion-wrapper .promotion-card{
    height: auto;
    cursor: pointer;
}

.main .contents .box-container .promotion-container .promotion-wrapper .promotion-card img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.main .contents .box-container .promotion-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0; 
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.main .contents .box-container .promotion-modal .promotion-modal-content {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 8px;
    animation: fadeIn 0.3s ease;
    -webkit-animation: fadeIn 0.3s ease; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main .contents .box-container .promotion-modal .promotion-modal-content .top-content {
    display: flex;
    justify-content: space-between;
    color: var(--black-color);
    border-bottom: .1px solid #999;
    padding: 1.5rem;
}

.main .contents .box-container .promotion-modal .promotion-modal-content .top-content .promotion-title {
    font-size: 20px;
    font-weight: 600;
}

.main .contents .box-container .promotion-modal .promotion-modal-content .top-content .btn-x {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #999;
    font-size: 24px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    transition: all ease .5s;
}

.main .contents .box-container .promotion-modal .promotion-modal-content .top-content .btn-x:hover {
    background-color: #9999993d;
    color: var(--black-color);
}

.main .contents .box-container .promotion-modal .promotion-modal-content .middle-content {
    width: 100%;
    padding: 1.5rem;
}

.main .contents .box-container .promotion-modal .promotion-modal-content .middle-content img{
    width: 100%;
    border-radius: 8px;
}

.main .contents .box-container .promotion-modal .promotion-modal-content .middle-content p {
    color: var(--black-color);
    font-weight: 500;
    font-size: 18px;
    margin-top: 1rem;
}

.main .contents .box-container .promotion-modal .promotion-modal-content .bottom-content {
    border-top: .1px solid #999;
    padding: 1.5rem;
}

.main .contents .box-container .promotion-modal .promotion-modal-content .bottom-content .btn-close {
    padding: .8rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    background-color:#1956db;
    color: var(--white-color);
    font-weight: 600;
    font-size: 15px;
    transition: all ease .5s;
}

.main .contents .box-container .promotion-modal .promotion-modal-content .bottom-content .btn-close:hover {
    background-color: #24499a;
}

.welcome-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.welcome-modal-wrapper {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.welcome-modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-modal-content img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.btn-close-welcomeModal {
    position: absolute;
    top: 25px;
    right: 25px;
    background: var(--yellow-color);
    color: var(--black-color); 
    font-size: 32px;
    width: 32px;
    height: 32px; 
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background 0.3s ease;
}

.btn-close-welcomeModal:hover {
    transform: scale(1.1);
    background: var(--yellow-color);
}

/* Responsive */

@media screen and (min-width: 1440px) {
    .main .hero .announcement-wrapper .marquee-wrapper .message {
        animation: scroll 60s linear infinite;
    }
} 

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .main .contents .box-container .game-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .main .hero .announcement-wrapper .marquee-wrapper .message {
        animation: scroll 40s linear infinite;
    }

    .main .contents .box-container .game-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .main .hero .announcement-wrapper .marquee-wrapper .message {
        animation: scroll 30s linear infinite;
    }

    .main .contents .box-container .game-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width : 767px) {
    .main .contents {
        width: 100%;
        padding: 0 20px;
    }

    .main .hero .banner-container .desktop-banner {
        display: none;
    }

    .main .hero .banner-container .mobile-banner {
        display: block;
    }

    .main .contents .box-container .box-title {
        font-size: 20px;
        padding-left: 20px;
    }

    .main .contents .box-container .box-title::before{
        width: 12px;
        height: 12px;
    }

    .main .contents .box-container .promotion-modal .promotion-modal-content {
        width: 90%;
    }

    .main .contents .box-container .promotion-modal .promotion-modal-content .top-content,
    .main .contents .box-container .promotion-modal .promotion-modal-content .middle-content,
    .main .contents .box-container .promotion-modal .promotion-modal-content .bottom-content {
        padding: 1rem;
    }

    .btn-close-welcomeModal {
        top: 15px;
        right: 15px;
        font-size: 24px;
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    .main .hero .announcement-wrapper .marquee-wrapper .message {
        animation: scroll 20s linear infinite;
    }

    .main .contents {
        width: 100%;
        padding: 0 12px;
    }

    .main .contents .button-container .button {
        height: 35px;
        font-size: 20px;
    }

    .main .contents .box-container .game-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
