@import './main.css';

.main {
    width: 100%;
}

.main .contents {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
}

.main .contents .livescore-container iframe{
    width: 100%;
    min-height: 860px;
}