@import './main.css';

.main {
    width: 100%;
}

.main .contents {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

.main .contents .container .title{
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 32px;
    font-weight: 600;
}

.main .contents .container .box-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.5rem;
}

.main .contents .container .box-wrapper .box {
    border-radius: 12px;
    padding: 1.5rem;
    height: fit-content;
    background: var(--bg-lightgreen);
}

.main .contents .container .box-wrapper .promotion-box {
    width: 60%;
}

.main .contents .container .box-wrapper .promotion-box img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.main .contents .container .box-wrapper .promotion-box .promotion-list {
    list-style: '- ';
    padding-left: .8rem;
    margin-top: .8rem;
}

.main .contents .container .box-wrapper .promotion-box .promotion-list .list-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

.main .contents .container .box-wrapper .promotion-box .contact {
    border-top: 1px solid var(--white-color);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    font-size: 18px;
}

.main .contents .container .box-wrapper .promotion-box .contact a {
    color: var(--yellow-color);
}

.main .contents .container .box-wrapper .promotion-box .contact a:hover {
    color: var(--secondary-color);
}

.main .contents .container .box-wrapper .login-box {
    width: 40%;
}

.main .contents .container .box-wrapper .login-box .form-login {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 5px;
}

.main .contents .container .box-wrapper .login-box .form-login .input-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main .contents .container .box-wrapper .login-box .form-login .input-control label {
    font-size: 18px;
}

.main .contents .container .box-wrapper .login-box .form-login .input-control input {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}

.main .contents .container .box-wrapper .login-box .form-login .input-control input:focus {
    outline: 1.5px solid var(--green-color);
}

.main .contents .container .box-wrapper .login-box .form-login .input-control input::placeholder {
    font-size: 16px;
    font-family: var(--font-family);
}

.main .contents .container .box-wrapper .login-box .form-login .input-control .error {
    outline: 1.5px solid red;
    border-radius: 5px;
}

.main .contents .container .box-wrapper .login-box .form-login .input-control .errorMsg {
    color: red;
    font-size: 18px;
    font-weight: 400;
}

.main .contents .container .box-wrapper .login-box .form-login .password-input {
    position: relative;
}

.main .contents .container .box-wrapper .login-box .form-login .input-control .toggleEye {
    cursor: pointer;
    position: absolute;
    top: 42px;
    right: 8px;
    font-size: 16px;
    color: var(--black-color);
}

.main .contents .container .box-wrapper .login-box .form-login .check-box{
    display: flex;
    align-items: center;
    gap: 8px;
}

.main .contents .container .box-wrapper .login-box .form-login .check-box input {
    width: 16px;
    height: 16px;
}

.main .contents .container .box-wrapper .login-box .form-login .check-box label {
    font-size: 18px;
}

.main .contents .container .box-wrapper .login-box .form-login .btn-submit {
    width: 100%;
    height: 40px;
    margin-top: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--bg-linear);
    color: var(--green-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
    transition: all ease-in 0.5s;
    cursor: pointer;
}

.main .contents .container .box-wrapper .login-box .form-login .btn-submit:hover {
    background: var(--secondary-color);
}

.main .contents .container .box-wrapper .login-box .form-login .btn-go-register {
    text-align: center;
    color: var(--yellow-color);
    font-size: 18px;
    font-weight: 600;
    margin: 1rem 0;
}

.main .contents .container .box-wrapper .login-box .form-login .btn-go-register:hover {
    color: var(--secondary-color);
}

.main .contents .container .box-wrapper .login-box .form-login .text-content {
    border-top: 1px solid var(--white-color);
    padding-top: 1rem;
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
}

/* Responsive */
@media screen and (max-width: 1023px) {
    .main .contents .container .box-wrapper {
        flex-direction: column-reverse;
    }
    .main .contents .container .box-wrapper .promotion-box ,
    .main .contents .container .box-wrapper .login-box {
        width: 100%;
    }
}

@media screen and (max-width : 767px) {
    .main .contents {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    .main .contents .container .title{
        font-size: 28px;
    }
}