@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #eeb321;
    --secondary-color: #68e8ea;
    --darkgreen-color : #002223;
    --green-color: #005253;
    --yellow-color: #f6d50d;
    --white-color: #fff;
    --black-color: #222;
    --bg-linear : linear-gradient(#fbe50a, #e5b022);
    --bg-lightgreen: #0f787b;
    --khmer-font: "Kantumruy Pro", serif;
    --english-font: "Roboto", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--green-color);
    color: var(--white-color);
    font-family: "Kantumruy Pro", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/images/pattern.png") no-repeat fixed center ;
    background-size: cover;
    opacity: .1;
    z-index: -1;
}
.header {
    height: 100px;
    width: 100%;
    background-color: var(--darkgreen-color);
    display: flex;
    justify-content: center;
}

.header .nav {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.header .nav .hamburger .line {
    border-bottom: 1.5px solid white;
    width: 24px;
    height: 8px;
}

.header .nav .hamburger .short-line {
    width: 16px;
}

.header .nav .logo img {
    width: 160px;
}

.header .nav .nav-middle {
    display: flex; 
    gap: 3rem;
}

.header .nav .nav-middle .nav-list {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    font-family: var(--khmer-font);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: var(--white-color);
}

.header .nav .nav-middle .nav-list:hover {
    transition: all ease .5s;
    color: var(--secondary-color);
}

.header .nav .nav-middle .nav-list img {
    width: 24px;
    height: 24px;
}

.header .nav .nav-right {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header .nav .nav-right .btn {
    padding: .5rem 1.5rem;
    font-family: var(--khmer-font);
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    color: var(--black-color);
    cursor: pointer;
    transition: all ease .5s;
    text-decoration: none;
}

.header .nav .nav-right .btn:hover{
    background-color: var(--green-color);
    color: var(--white-color);
}

.header .nav .nav-right .btn-login {
    background-color: var(--primary-color);
}
.header .nav .nav-right .btn-register {
    background-color: var(--secondary-color);
}

.header .nav .nav-right .btn-image {
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: transparent;
}

.header .nav .nav-right .btn-image img{
    height: 100%;
    width: 100%;
    transform: scale(1.3);
    background-color: transparent;
}

.header .nav .mobile-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0; 
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    animation: fadeIn 0.3s ease;
    -webkit-animation: fadeIn 0.3s ease; 
}

.header .nav .mobile-menu .menu-modal {
    background: var(--darkgreen-color);
    height: 100%;
    width: 320px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 1rem;
}

.header .nav .mobile-menu .menu-modal .nav-top {
    display: flex;
    justify-content: space-between;
}

.header .nav .mobile-menu .menu-modal .nav-top .logo img{
    width: 160px;
}

.header .nav .mobile-menu .menu-modal .nav-top .btn-close-menu {
    border: 2px solid var(--white-color);
    border-radius: 8px;
    outline: none;
    width: 40px;
    height: 40px;
    padding: 4px;
    background: transparent;
    color: var(--white-color);
    font-size: 24px;
    cursor: pointer;
    transition: all ease .3s;
}

.header .nav .mobile-menu .menu-modal .nav-top .btn-close-menu:hover {
    background: var(--white-color);
    color: var(--black-color);
}

.header .nav .mobile-menu .menu-modal .mobile-nav {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1.5px solid var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header .nav .mobile-menu .menu-modal .mobile-nav .nav-list {
    display: flex;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
    gap: 8px;
    font-family: var(--khmer-font);
    font-size: 18px;
    font-weight: 600;
}

.header .nav .mobile-menu .menu-modal .mobile-nav .nav-list:hover {
    color: var(--secondary-color);
}

.header .nav .mobile-menu .menu-modal .mobile-nav .nav-list img {
    width: 24px;
    height: 24px;
}

.main {
    width: 100%;
}

.main .contents {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

.main .contents .container .title{
  font-size: 32px;
  font-family: var(--khmer-font);
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.main .contents .container .box-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.5rem;
}

.main .contents .container .box-wrapper .box {
    border-radius: 12px;
    padding: 1.5rem;
    height: fit-content;
    background: var(--bg-lightgreen);
}

.main .contents .container .box-wrapper .promotion-box {
    width: 60%;
}

.main .contents .container .box-wrapper .promotion-box img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.main .contents .container .box-wrapper .promotion-box .promotion-list {
    list-style: '- ';
    padding-left: .8rem;
    margin-top: .8rem;
}

.main .contents .container .box-wrapper .promotion-box .promotion-list .list-item {
    font-size: 18px;
    font-family: var(--khmer-font);
    font-weight: 400;
    line-height: 2rem;
}

.main .contents .container .box-wrapper .promotion-box .contact {
    border-top: 1px solid var(--white-color);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    font-size: 18px;
}

.main .contents .container .box-wrapper .promotion-box .contact a {
    color: var(--yellow-color);
}

.main .contents .container .box-wrapper .promotion-box .contact a:hover {
    color: var(--secondary-color);
}

.main .contents .container .box-wrapper .login-box {
    width: 40%;
}

.main .contents .container .box-wrapper .login-box .form-register {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: var(--khmer-font);
    font-weight: 400;
    font-size: 18px;
}

.main .contents .container .box-wrapper .login-box .form-register .registerError {
    background: var(--bg-linear);
    color: red;
    padding: 12px 0;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    margin-top: 1rem;
}

.main .contents .container .box-wrapper .login-box .form-register .registerSuccess {
    color: var(--secondary-color)
}

.main .contents .container .box-wrapper .login-box .form-register .input-control {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main .contents .container .box-wrapper .login-box .form-register .input-control input,
.main .contents .container .box-wrapper .login-box .form-register .input-control select {
    font-size: 18px;
    font-family: var(--khmer-font);
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 5px;
}

.main .contents .container .box-wrapper .login-box .form-register .input-control input:focus {
    outline: 1.5px solid var(--black-color);
}

.main .contents .container .box-wrapper .login-box .form-register .input-control input::placeholder {
    font-size: 16px;
}

.main .contents .container .box-wrapper .login-box .form-register .input-control .error {
    outline: 2px solid var(--yellow-color);
    border-radius: 5px;
}

.main .contents .container .box-wrapper .login-box .form-register .input-control .errorMsg {
    color: var(--yellow-color);
    font-family: var(--khmer-font);
    font-size: 18px;
    font-weight: 400;
}

.main .contents .container .box-wrapper .login-box .form-register .password-input {
    position: relative;
}

.main .contents .container .box-wrapper .login-box .form-register .input-control .toggleEye {
    cursor: pointer;
    position: absolute;
    top: 42px;
    right: 8px;
    font-size: 16px;
    color: var(--black-color);
}

.main .contents .container .box-wrapper .login-box .form-register .input-control input::-webkit-outer-spin-button,
.main .contents .container .box-wrapper .login-box .form-register .input-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.main .contents .container .box-wrapper .login-box .form-register .input-control .code-control {
    display: flex;
    width: 100%;
    gap: .5rem;
}

.main .contents .container .box-wrapper .login-box .form-register .input-control .code-control .code {
    width: 60%;
}

.main .contents .container .box-wrapper .login-box .form-register .input-control .code-control .code-random {
    background: var(--white-color);
    color: var(--black-color);
    width: 40%;
}

.main .contents .container .box-wrapper .login-box .form-register .btn-submit {
    width: 100%;
    padding: 10px 0;
    margin: .5rem 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--bg-linear);
    color: var(--black-color);
    font-family: var(--khmer-font);
    font-size: 18px;
    font-weight: 500;
    transition: all ease-in 0.5s;
    cursor: pointer;
}

.main .contents .container .box-wrapper .login-box .form-register .btn-submit:hover {
    background: var(--secondary-color);
}

.main .contents .container .box-wrapper .login-box .form-register .btn-go-login {
    text-align: center;
    color: var(--yellow-color);
    font-size: 18px;
    margin: 12px 0;
}

.main .contents .container .box-wrapper .login-box .form-register .btn-go-login:hover {
    color: var(--secondary-color);
}

.main .contents .container .box-wrapper .login-box .form-register .text-content {
    border-top: 1px solid var(--white-color);
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--darkgreen-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--khmer-font);
    font-weight: 500;
    font-size: 18px;
    margin-top: 2rem;
}

.footer .footer-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-container .footer-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer .footer-container .footer-right .bank-wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .5rem;  
}

.footer .footer-container .footer-right .bank-wrapper .bank img{
    width: 36px;
    height: 36px;
    border-radius: 8px;
}

/* Responsive */

@media screen and (max-width: 1279px) {
    .header .nav {
        width: 100%;
        padding: 0 1rem;
    }

    .header .nav .logo img {
        width: 100px;
    }

    .header .nav .nav-middle {
        display: none; 
    }

    .header .nav .hamburger {
        display: block;
    }
    
}