@import './main.css';

.main {
    width: 100%;
}

.main .contents {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
}

.main .contents .banner-container {
    width: 100%;
    margin-bottom: 1rem;
}

.main .contents .banner-container .banner-wrapper .banner-card img{
    width: 100%;
}

.main .contents .news-container {
    position: relative;
    width: 100%;
}

.main .contents .news-container .news-list-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

.main .contents .news-container .news-wrapper {
    position: relative;
    overflow: hidden;
}

.main .contents .news-container .news-wrapper:first-child {
    grid-column: span 2;
    grid-row: span 2;
}
.main .contents .news-container .news-wrapper:first-child .title-wrapper .news-title{
    font-size: 20px;
}

.main .contents .news-container .news-wrapper .news-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.main .contents .news-container .news-wrapper .title-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 16px;
    color: var(--white-color);
    text-decoration: none;
} 

.main .contents .news-container .news-wrapper .title-wrapper .news-title {
    font-size: 16px;
    font-weight: 500;
}

.main .contents .news-container .news-wrapper .title-wrapper .news-title:hover {
    color: #fbe50a;
    transition: all ease .3s;
}

.main .contents .news-container .news-wrapper .title-wrapper .date-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main .contents .news-container .news-wrapper .title-wrapper .date-wrapper .news-date {
    font-size: 14px;
}

.main .contents .news-container .news-detail-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}

.main .contents .news-container .news-detail-container .main-news-wrapper .news-title.big-title {
    font-size: 24px;
    font-weight: 500;
    margin: 2.5rem 0;
}

.main .contents .news-container .news-detail-container .main-news-wrapper .news-content-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.main .contents .news-container .news-detail-container .main-news-wrapper .news-content-wrapper .news-image img {
    width: 100%;
}

.main .contents .news-container .news-detail-container .main-news-wrapper .news-content-wrapper .right-content .date-wrapper {
    display: flex;
    gap: 8px;
}

.main .contents .news-container .news-detail-container .main-news-wrapper .news-content-wrapper .right-content .date-wrapper .news-date {
    font-size: 16px;
}

.main .contents .news-container .news-detail-container .main-news-wrapper .news-content-wrapper .right-content .news-title.small-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
}

.main .contents .news-container .news-detail-container .main-news-wrapper .news-description {
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    white-space: pre-line;
}

.main .contents .news-container .news-detail-container .latest-news-wrapper {
    background: #292929;
    padding: 1.5rem;
}

.main .contents .news-container .news-detail-container .latest-news-wrapper .latest-news-item-wrapper img {
    width: 100%;
}

.main .contents .news-container .news-detail-container .latest-news-wrapper .title {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500;
}

.main .contents .news-container .news-detail-container .latest-news-wrapper .latest-news-item-wrapper .news-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 0.5rem 0;
}

.main .contents .news-container .news-detail-container .latest-news-wrapper .latest-news-item-wrapper .news-items .date-wrapper{
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

/* Responsive */
@media screen and (max-width: 1279px) {
    .main .contents .news-container .news-wrapper:first-child .title-wrapper .news-title{
        font-size: 18px;
    }
}

@media screen and (max-width: 1023px) {
    .main .contents .news-container .news-list-container {
        grid-template-columns: auto;

    }

    .main .contents .news-container .news-detail-container {
        grid-template-columns: auto;

    }
}

@media screen and (max-width: 767px) {
    .main .contents {
        width: 100%;
        padding: 0 20px;
    }

    .main .contents .banner-container {
       display: none;
    }

    .main .contents .news-container .news-detail-container .main-news-wrapper .news-title.big-title {
        margin-top: 0;
    }

    .main .contents .news-container .news-detail-container .main-news-wrapper .news-content-wrapper {
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    .main .contents .news-container {
        grid-template-columns: auto;
    }

    .main .contents .news-container .news-list-container .news-wrapper:first-child {
        grid-column: span 1;
        grid-row: span 1;
    }

    .main .contents .news-container .news-wrapper:first-child .title-wrapper .news-title{
        font-size: 16px;
    }
}

@media screen and (max-width: 424px) {
    .main .contents .news-container .news-detail-container .latest-news-wrapper .latest-news-item-wrapper .news-items {
        font-size: 14px;
    }


    .main .contents .news-container .news-detail-container .latest-news-wrapper .latest-news-item-wrapper .news-items .date-wrapper {
        margin-top: 2px;
    }

    .main .contents .news-container .news-detail-container .latest-news-wrapper .latest-news-item-wrapper .news-items .date-wrapper .calendar-icon {
        height: 14px;
        width: 14px;
    }
}