@font-face {
    font-family: 'krasar';
    src: url('../assets/fonts/krasar-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'leelawui';
    src: url('../assets/fonts/leelawui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #eeb321;
    --secondary-color: #68e8ea;
    --darkgreen-color : #002223;
    --green-color: #005253;
    --white-color: #fff;
    --black-color: #000;
}

body {
    position: relative;
    width: 100%;
    background-color: var(--green-color);
    color: var(--white-color);
    font-family: krasar, sans-serif;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/images/pattern.png") no-repeat fixed center ;
    background-size: cover;
    opacity: .1;
    z-index: -1;
}
.header {
    height: 100px;
    width: 100%;
    background-color: var(--darkgreen-color);
    display: flex;
    justify-content: center;
}

.header .nav {
    height: 100px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.header .nav .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.header .nav .hamburger .line {
    border-bottom: 1.5px solid white;
    width: 24px;
    height: 8px;
}

.header .nav .hamburger .short-line {
    width: 16px;
}

.header .nav .logo img {
    height: 250px;
}

.header .nav .nav-middle {
    list-style: none;
    display: flex; 
    gap: 3rem;
}

.header .nav .nav-middle .nav-list {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.header .nav .nav-middle .nav-list:hover {
    transition: all ease .5s;
    color: var(--secondary-color);
}

.header .nav .nav-middle .nav-list img {
    width: 24px;
    height: 24px;
}

.header .nav .nav-right {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header .nav .nav-right .btn {
    padding: .5rem 1.5rem;
    font-family: krasar, sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    color: var(--black-color);
    cursor: pointer;
    transition: all ease .5s;
}

.header .nav .nav-right .btn:hover{
    background-color: var(--green-color);
    color: var(--white-color);
}

.btn-primary {
    background-color: var(--primary-color);
}
.btn-secondary {
    background-color: var(--secondary-color);
}

.header .nav .nav-right .btn-image {
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: transparent;
}

.header .nav .nav-right .btn-image img{
    height: 100%;
    width: 100%;
    transform: scale(1.3);
    background-color: transparent;
}
 
.main {
    width: 100%;
    margin: 0 auto;
}

.main .hero .announcement {
    display: flex;
    align-items: center;
    background-color: var(--green-color);
    font-size: 15px;
    font-family: krasar, sans-serif;
}

.main .hero .announcement .announcement-icon {
    background-color: #003f3c;
    padding: 5px;
    border-radius: 5px;
}

.main .hero .announcement .announcement-icon img {
    height: 24px;
    padding: 2px;
}

.main .hero .carousel-container {
    width: 100%;
    height: 100%;
}

.main .hero .carousel-container .swiper .swiper-wrapper .slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .hero .carousel-container .swiper .swiper-wrapper .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .contents {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.main .contents .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.main .contents .button-container .button {
    padding: .5rem 0;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: krasar, sans-serif;
    font-size: 1.5rem;
    color: var(--black-color);
    transition: all ease 0.5s;
    flex-grow: 1;
}

.main .contents .button-container .button:hover {
    background-color: var(--darkgreen-color);
    color: var(--white-color);
}

.main .contents .box-container {
    width: 100%;
    background-color: rgba(0, 34, 35, .3);
    /* background-color: rgba(0, 82, 83, .3); */
    padding: 1.5rem;
    border-radius: 24px;
}

.main .contents .box-container .box-title {
    position: relative;
    padding-left: 30px;
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.main .contents .box-container .box-title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #b2f91d; 
    border-radius: 50%;
}

.main .contents .box-container .game-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.main .contents .box-container .game-container .game-card {
    height: 250px;
    transition: all ease .5s;
}

.main .contents .box-container .game-container .game-card img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.main .contents .box-container .game-container .game-card:hover {
    transform: scale(1.1);
    transition: all ease .5s;
}

.main .contents .box-container .match-container {
    width: 100%;
    height: 100%;
    font-family: leelawui, sans-serif;
    font-size: 16px;
}

.main .contents .box-container .match-container .match-wrapper .match-card .match-item-wrapper{
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url("../assets/images/bg-match.jpg") no-repeat fixed center;
    background-size: cover;
    border-radius: 1rem;
}

.main .contents .box-container .match-container .match-wrapper .match-card .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .contents .box-container .match-container .match-wrapper .match-card .team img{
    height: 100px;
}

.main .contents .box-container .match-container .match-wrapper .match-card .league {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main .contents .box-container .promotion-container{
    width: 100%;
    height: 100%;
}

.main .contents .box-container .promotion-container .promotion-wrapper .promotion-card{
    width: 400px;
}

.main .contents .box-container .promotion-container .promotion-wrapper .promotion-card img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.promotion-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  top: 0; 
  left: 0;
  transition: all ease 1s;
}

.promotion-modal .promotion-modal-content {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 8px;
}

.promotion-modal .promotion-modal-content .top-content {
    display: flex;
    justify-content: space-between;
    color: var(--black-color);
    border-bottom: .1px solid #999;
    padding: 1.5rem;
}

.promotion-modal .promotion-modal-content .top-content h3 {
    font-size: 1.2rem;
}

.promotion-modal .promotion-modal-content .top-content .btn-x {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #999;
    font-size: 1.2rem;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    transition: all ease .5s;
}

.promotion-modal .promotion-modal-content .top-content .btn-x:hover {
    background-color: #9999993d;
    color: var(--black-color);
}

.promotion-modal .promotion-modal-content .middle-content {
    width: 100%;
    padding: 1.5rem;
}

.promotion-modal .promotion-modal-content .middle-content img{
    width: 100%;
    border-radius: 8px;
}

.promotion-modal .promotion-modal-content .middle-content p {
    color: var(--black-color);
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.promotion-modal .promotion-modal-content .bottom-content {
    border-top: .1px solid #999;
    padding: 1.5rem;
}

.promotion-modal .promotion-modal-content .bottom-content .btn-close {
    padding: .8rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    background-color:#1956db;
    color: var(--white-color);
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    transition: all ease .5s;
}

.promotion-modal .promotion-modal-content .bottom-content .btn-close:hover {
    background-color: #24499a;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--darkgreen-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: krasar, sans-serif;
    font-size: 1rem;
    margin-top: 2rem;
}

.footer .footer-container {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-container .footer-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer .footer-container .footer-right .bank-wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .5rem;  
}

.footer .footer-container .footer-right .bank-wrapper .bank img{
    width: 36px;
    height: 36px;
    border-radius: 8px;
}